body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
  font-size: 0.8em;
  position: absolute;
  top: 87px;
  width: 100%;
}

nav ul {
  display: table;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #555252;
  border-radius: 4px;
}

nav ul li{
  display: table-cell;
  text-align: center;
  width: 11%;
  height: 35px;
  vertical-align: middle;
  background: #6F6B6B;
  background: linear-gradient(#6F6B6B, #6F6B6B 50%, #A29E9E 50%);
}

nav ul li:not(.input) {
  border-right: 1px solid #555252;
}

nav ul li a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

nav ul li:not(.input):hover {
  background: #6F6B6B;
  background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(#6F6B6B, #6F6B6B 50%, #A29E9E 50%);
}

nav ul li input {
  background: url("../img/search-icon.png") 2% 50% no-repeat;
  background-size: 16px 16px;
  width: 100px;
  margin: auto 10px;
  border-radius: 10px;
  border: 2px inset rgba(0,0,0,0.5);
  padding-left: 20px;
}

nav ul li input:focus{
  background: url("../img/search-icon-black.png") 2% 50% no-repeat, white;
  background-size: 16px 16px;
  color: black;
}
.caption-wrap {
  background: url("../img/your_verse_hero.jpg") 50% 100% no-repeat;
  height: 85vh;
  margin: 0;
  text-align: center;
  display: table;
  width: 100%;
}

.caption {
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.head{
  font-size: 46px;
  padding-top: 10px;
  margin: 0;
  font-weight: 100;
  transform: scaleY(1.2);
  padding-bottom: 20px;
}

.caption p{
    margin-bottom: 20px;
    width: 50%;
    margin: 0 auto;
    line-height: 1.4em;
    font-family: Times "Times New Roman", sans-serif;
}

.caption p:nth-child(2n){
  transform: scaleY(1.4);
  padding-bottom: 20px;
  font-size: 21px;
}

.caption p:last-child {
  font-size: 18px;
}
.caption a {
    color: white;
    text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0;
}


.icon-circle {
  border: 2px solid white;
  border-radius: 50%;
  padding: 6px;
  margin-left: 16px;
}

.products ul{
  display: table;
  border-spacing: 0.1em;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.products ul li {
  display: table-cell;
}

.products ul li img {
  height: 200px;
  width: 100%;
}

.ul-on-hover {
  text-decoration: none;
}

.ul-on-hover:hover {
    text-decoration: underline;
}

footer {
  width: 80%;
  margin: 0 auto;
  font-size: 0.7em;
}

footer a{
    color: rgb(0, 136, 204);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 4px 0;
  position: relative;
  top: 8px;
}

footer ul li {
  display: inline-block;
  margin-right: 6px;
  padding-right: 6px;
}

footer ul li:not(.img-item){
  border-right: 1px solid rgba(0,0,0,0.2);
}

.img-item img {
  position: absolute;
  top: 0;
}

.no-mg {
  margin: 0;
}

pd-top-6 {
  padding-top: 6px;
}

.no-pd {
  padding: 0;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.cl-both {
  clear: both;
}
